{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true
        },
        "target": "es2021",
        "keepClassNames": true,
        "loose": true,
        // Important part bellow, copy it from your tsconfig.json
        "baseUrl": "./",
        "paths": {
            "@app/mongo": [
                "libs/mongo/src"
            ],
            "@app/mongo/*": [
                "libs/mongo/src/*"
            ]
        }
        // Important part above, copy it from your tsconfig.json
    },
    "module": {
        "type": "commonjs"
    },
    "sourceMaps": true
}